@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #222;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: Montserrat;
    color: #b3afbf;
}

.card {
    padding: 15px;
    width: 700px;
    background: #222;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 14px 20px rgba(72, 72, 72, 0.7);
    user-select: none;
}

.cover-photo {
    position: relative;
    background: url(https://png.pngtree.com/thumb_back/fw800/background/20220522/pngtree-programming-and-coding-banner-working-image_1375029.jpg);
    background-size: cover;
    height: 180px;
    border-radius: 5px 5px 0 0;
}

.profile {
    position: absolute;
    width: 120px;
    bottom: -60px;
    left: 15px;
    border-radius: 50%;
    border: 2px solid #222;
    background: #222;
    padding: 5px;
}

.profile-name {
    font-size: 20px;
    margin: 25px 0 0 120px;
    color: #fff;
}

.about {
    margin-top: 30px;
    line-height: 1.6;
}


.icons {
    width: 180px;
    margin: 0 auto 10px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.icons i {
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    transition: 0.2s;
}

.icons i:hover {
    color: #7ce3ff;
}

.content{
    text-align: justify;
    padding-top: 25px;
}

.contact-box{
    max-width:15%;
    max-height: 500px;
    background: #eee;
    position: sticky;
    top: 85%;
    margin-left: 82%;
    box-shadow: 2px 14px 20px rgba(72, 72, 72, 0.7);

}
.contact-box .contact-title{
text-align: center;
}
.contact-list{
    text-align: center;
}
.contact-list ul{
    padding: 0;
}
.contact-list li::marker{
    unicode-bidi: isolate !important;
    font-variant-numeric: tabular-nums;
    color: transparent !important;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
.contact-list a{
    text-decoration: unset;
}

.icons-contact{
    width: 10px;
}

.style-contact-whatsapp{
    font-size: 18px;
    font-style: italic;
    width: 25px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
}

.contact-image{
    width: 25px;
}

.contact-image-gmail{
    width: 16px;
    margin-left: 5px;
    margin-right: 3px;
}

.email-style{
    font-size: 18px;
    font-style: italic;
    font-weight: bolder;
}